    <main>
        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>Transportation overview</h1>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-12 mb-4">
                  <h2 class="card-title">Transport details</h2>
                  <div class="card">
                        <div class="card-body">
                            <div class="scroll">
                              <div class="transport-detail">
                                <p class="list-item-heading">Status:</p>
                                <span class="badge badge-pill badge-secondary"><%= @order.status.upcase %></span>
                              </div>
                              <div class="transport-detail">
                                <p class="list-item-heading">Date:</p>
                                <div class="text-primary font-weight-semibold d-none d-sm-block">
                                    <%= @order.pickup_date %>
                                </div>
                              </div>
                              <div class="transport-detail">
                                <p class="list-item-heading">Pick up address:</p>
                                <p  style="max-width: 50%;" class="text-muted mb-1"><%= @order.pickup_address.complete %></p>
                              </div>

                              <div class="transport-detail">
                                <p class="list-item-heading">Delivery address:</p>
                                <p  style="max-width: 50%;" class="text-muted mb-1"><%= @order.delivery_address.complete %></p>
                              </div>

                              <div class="transport-detail">
                                <p class="list-item-heading">Comment:</p>
                                <p style="max-width: 50%;"><%= @order.comment %></p>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12 mb-4 list">
                    <h2 class="card-title">Parcels</h2>

                    <div class="card d-flex flex-row mb-3">
                        <div class="d-flex flex-grow-1 min-width-zero">
                          <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                              <div class="w-15 w-xs-100">
                                  <span class="badge badge-pill badge-primary">Parcel</span>
                              </div>
                              <p class="list-item-heading mb-0 truncate w-40 w-xs-100">
                                  ID: PCON00234
                              </p>
                              <p class="list-item-heading mb-0 truncate w-40 w-xs-100 text-muted">Load: 5kg</p>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
