<main>
  <div class="container-fluid disable-text-selection">
      <div class="row">
          <div class="col-12">
              <div class="mb-2">
                  <h1>Edit user</h1>
              </div>
          </div>
      </div>
      <div class="separator mb-5"></div>
      <div class="card mb-4">
        <div class="card-body">
          <%= simple_form_for @user, html: { autocomplete: 'off' } do |f| %>
            <%= f.input :email, required: true %>
            <%= f.input :first_name, required: true %>
            <%= f.input :last_name, required: true %>
            <%= f.input :telephone_number %>
            <%= f.input :company_role %>
            <%= f.input :employee_admin, as: :boolean, label: 'Employee admin', class: "form-check-input radio_buttons" %>
            <%= f.input :organization_admin, as: :boolean, label: 'Organization admin' %>
            <%= f.input :master_admin, as: :boolean, label: 'Master admin', class: "form-check-input radio_buttons" %>
            <%= f.input :dark_theme, as: :boolean, label: 'Dark theme' %>
            
            <%= f.submit "Update user", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
  </div>
</main>
