<main>
  <div class="container-fluid disable-text-selection">
      <div class="row">
          <div class="col-12">
              <div class="mb-2">
                  <h1>Edit order</h1>
              </div>
          </div>
      </div>
      <div class="separator mb-5"></div>
      <div class="card mb-4">
        <div class="card-body">
          <%= simple_form_for @order, html: { autocomplete: 'off' } do |f| %>
            <%= f.input :pickup_date, required: true, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :pickup_time, required: true, as: :string, input_html: { class: "timepicker" } %>
            <div class="form-group">
              <fieldset class="form-group radio_buttons required order_pickup_address">
                <legend class="col-form-label pt-0">Pickup address
                  <abbr title="required">*</abbr>
                </legend>
                <input type="hidden" name="order[pickup_address_id]" value="">
                <div class="address-choices">
                  <% Address.all.each do |address| %>
                      <input class="form-check-input radio_buttons required hidden" type="radio" value="<%= address.id %>" name="order[pickup_address_id]" id="order_pickup_address_id_<%= address.id %>" required <%= 'checked' if @order.pickup_address_id == address.id %>>
                      <label class="form-check-label collection_radio_buttons address-choice js-address-choice-pickup <%= @order.pickup_address_id == address.id ? 'active' : '' %>"
                        for="order_pickup_address_id_<%= address.id %>">
                        <%= address.description %>
                      </label>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset class="form-group radio_buttons required order_delivery_address">
                <legend class="col-form-label pt-0">Delivery address
                  <abbr title="required">*</abbr>
                </legend>
                <input type="hidden" name="order[delivery_address_id]" value="">
                <div class="address-choices">
                  <% Address.all.each do |address| %>
                      <input class="form-check-input radio_buttons required hidden" type="radio" value="<%= address.id %>" name="order[delivery_address_id]" id="order_delivery_address_id_<%= address.id %>" required <%= 'checked' if @order.delivery_address_id == address.id %>>
                      <label class="form-check-label collection_radio_buttons address-choice js-address-choice-delivery <%= @order.delivery_address_id == address.id ? 'active' : '' %>"
                        for="order_delivery_address_id_<%= address.id %>">
                        <%= address.description %>
                      </label>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset class="form-group radio_buttons required status">
                <legend class="col-form-label pt-0">Status
                  <abbr title="required">*</abbr>
                </legend>
                <input type="hidden" name="order[status]" value="">
                <div class="address-choices">
                  <% Order.statuses.each do |name, value| %>
                      <input class="form-check-input radio_buttons required hidden" type="radio" value="<%= value %>" name="order[status]" id="order_status_<%= value %>" required <%= 'checked' if @order.status == name %>>
                      <label class="form-check-label collection_radio_buttons address-choice js-address-choice-status <%= @order.status == name ? 'active' : '' %>"
                        for="order_status_<%= value %>">
                        <%= name %>
                      </label>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
  </div>
</main>
