<main>
  <div class="container-fluid disable-text-selection">
      <div class="row">
          <div class="col-12">
              <div class="mb-2">
                  <h1>Order Overview</h1>
                  <div class="top-right-button-container">
                      <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BOOK A NEW DELIVERY</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 list" data-check-all="checkAll">
              <div class="d-flex flex-row">
                  <div class="d-flex flex-grow-1 min-width-zero">
                      <div
                          class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                          <p class="list-item-heading mb-0 truncate w-15 w-xs-100" href="Pages.Product.Detail.html">
                              Order ID
                          </p>
                          <p class="list-item-heading mb-0 truncate w-10 w-xs-100" href="Pages.Product.Detail.html">
                              Total Weight
                          </p>
                          <p class="list-item-heading mb-0 truncate w-10 w-xs-100" href="Pages.Product.Detail.html">
                              # Parcels
                          </p>
                          <p class="list-item-heading mb-0 truncate w-15 w-xs-100" href="Pages.Product.Detail.html">
                              Pickup Address
                          </p>
                          <p class="list-item-heading mb-0 truncate w-15 w-xs-100" href="Pages.Product.Detail.html">
                              Delivery Address
                          </p>
                          <p class="list-item-heading mb-0 truncate w-10 w-xs-100" href="Pages.Product.Detail.html">
                              Date
                          </p>
                          <p class="list-item-heading mb-0 truncate w-10 w-xs-100" href="Pages.Product.Detail.html">
                              Status
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="separator mb-5"></div>
      <% @orders.each do |order| %>
        <div class="row">
            <div class="col-12 list" data-check-all="checkAll">
                <div class="card d-flex flex-row mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                            <p class="list-item-heading mb-0 truncate w-15 w-xs-100" href="Pages.Product.Detail.html">
                                CONT000<%= order.id %>
                            </p>
                            <p class="list-item-heading mb-0 truncate w-10 w-xs-100" href="Pages.Product.Detail.html">
                                <%= order.transport_loads.count %> KG
                            </p>
                            <p class="list-item-heading mb-0 truncate w-10 w-xs-100" href="Pages.Product.Detail.html">
                                <%= order.transport_loads.count %>
                            </p>
                            <p class="mb-0 text-muted text-small w-15 w-xs-100">
                                <%= order.pickup_address.complete %>
                            </p>
                            <p class="mb-0 text-muted text-small w-15 w-xs-100">
                              <%= order.delivery_address.complete %>
                            </p>
                            <p class="mb-0 text-muted text-small w-10 w-xs-100">
                              <%= order.pickup_date %>
                            </p>
                            <div class="w-10 w-xs-100">
                                <span class="badge badge-pill badge-secondary">
                                  <%= order.status %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <% end %>
  </div>
</main>
