<nav class="navbar fixed-top">
  <div class="d-flex align-items-center navbar-left">
    <%= render 'shared/navbar/menu_toggle' %>
  </div>
  <%= link_to root_path, class: "navbar-logo" do %>
      <span class="logo d-none d-xs-block"></span>
      <span class="logo-mobile d-block d-xs-none"></span>
  <% end %>
  <div class="navbar-right">
    <div class="header-icons d-inline-block align-middle">
      <%#= render 'shared/navbar/notifications' %>
      <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
          <i class="simple-icon-size-fullscreen"></i>
          <i class="simple-icon-size-actual"></i>
      </button>
    </div>
    <div class="user d-inline-block">
      <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
        <span class="name"><%= current_user.name %></span>
        <span>
          <% if current_user.contaynor_employee? %>
            <%= image_tag "profile.jpg" %>
          <% else %>
            <%= image_tag "client.jpg" %>
          <% end %>
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right mt-3">
          <% if current_user.contaynor_employee? %>
            <%= link_to 'Management Dashboard', management_index_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  </div>
</nav>
