<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body id="app-container" class="menu-default show-spinner">
  <%# TODO: background no-footer ltr rounded for auth page %>
    <% if current_user %>
      <%= render 'shared/navbar/index' %>
      <%= render 'shared/menu/index' %>
    <% end %>
    <%= render 'shared/flashes/index' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $('.data-table-standard').DataTable();
    </script>
  </body>
</html>
